/* styles for body, container,
and styles that are applied to multiple elements */

body {background-color: ##b3ffb3;
	font-family: Arial, sans-serif;
}

.container {
	width: 80%; /* makes all content take up 80% no matter how wide the page is */
	margin: 0 auto; /* removes top and bottom margins, left/right margins automatically determined */
}

/* styles for header and navigation */

.logo {
	border-radius: 90%;
	width: 50%;
	height: 50%;/* rounds the corners of the square image so it displays as a circle */
}

header, footer {
	text-align: center; /* aligns the text in the center */
}

nav ul {
	list-style-type: none; /* removes bullet points from list */
	padding: 0; /* removes padding from ul */
}

nav li {
	display: inline; /* displays list items next to each other */
	padding: 0.5em; /* provides a bit of space between list items - look into the em value */
}

/* :active - link as it is actively being clicked on */
/* :hover - link when you hover over it */
/* :visited - link when you have already visited it */
/* :link - link by itself */
nav a:active, nav a:hover, nav a:visited, nav a:link {
	text-decoration: none; /* in this case, removes default underline from the links */
	color: #000; /* changes font color to black */
}

nav a:hover {
	font-weight: bold; /* makes font bold */
	background-color: #cccccc; /* changes the bg color to gray */
}

section {
	border-color: #66cc00;
	border-style: solid;
	border: 1px;
}
/* styles for main content */

#hero {
	width: 100%; /* makes width of the hero image 100% of the .container */
}



/* styles for footer */

footer {
	font-size: 0.75em; /* changes the font size */
	padding: 0.5em 0; /* adds padding on top/bottom, nothing on left/right */
}

div.background {

    background: url(images/fern.jpg) repeat;
    border: 3px solid #66cc00;
}
div.transbox {
	color:#000;
    margin: 90px;
    padding-top: 10px;
    background-color: #fff;
    outline-color: #fff;
    opacity: 0.7;
    filter: alpha(opacity=70); 
}

div.transbox li {
	color: #fff;
    margin: 20px;
    font-weight: bold;
}

div.imgnav { 
	color:#purple;
	background: url(images/iris.jpg);
	border-radius: 90%;
	border-style: dotted;

}


div.imgnav li {
	text-align: center;
	color:#fff;
}

p {
	float: center;
	text-decoration-color: #ccc;
}

